torch==2.3.1+cu118
torchvision==0.18.1+cu118
-f https://mirrors.aliyun.com/pytorch-wheels/cu118
PySide6-Fluent-Widgets==1.5.4
modelscope==1.19
pyside6==6.5.2
librosa==0.9.1
numpy==1.26.4
openai-whisper
apscheduler
pypinyin
pyaudio
openai
pynput
cn2an
jieba
tendo